body {
    width: 100%;
    height: 800px;
    background-color: #ebe8e8;
}
#main
{
   width:80%;
   background-color:#97e9f5;
   margin-left:auto;
   margin-right:auto;
}
#top
{
    width:100%;
    height:300px;
}
#top img
{
    width:100%;
    height:300px;
}
#center
{
    height:600px;
    background-color:#87b9e9;
}
#left
{
    width:20%;
    background-color:#eee985;
    height:100%;
    float:left;
}
#right{
    width:80%;
    background-color:#d139c5;
    height:100%;
    float:left;
}
#footer {
    height: 140px;
    background-color: #165186;
    color: #ffffff;
}
#footer img
{
    width:80px;
    height:80px;
    margin-left:300px;

}
#erwei
{
    float:left;
    margin-top:30px;
}
#footertext {
    width: 400px;
    float: left;
    margin-left: 100px;
    margin-top: 20px;
    font-size: 12px;
    background-color: #000000;
    padding-left: 30px;
}
